name: AppEngine Org Policy - Organization Level

env:
  org-name: cloudstronaut

on:
  push:
    branches: ${{env.org-name}}-main
    
  pull_request:
    branches: ${{env.org-name}}-main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '313.0.0'
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
        
      - name: Deploy
        run: gcloud resource-manager org-policies set-policy --organization=${{ secrets.org-id-sentinelman }} ./set-${{env.org-name}}-org-policy.yaml
